<% @event.each do |e| %>
  <div>
    <h3> <%= e.name %> </h5>
    <strong> Location: </strong><%= e.location %>
    <strong> Date of Happening: </strong><%= e.date %> <br />
    Info: <%= e.description %> <br />
    <%= link_to "More info", event_path(e) %>
  </div>
<% end %>