<%= link_to "Go to the index", events_path %>
<div>
  <h3> <%= @event.name %> </h5>
  <strong> Location: </strong><%= @event.location %>
  <strong> Date of Happening: </strong><%= @event.date %> <br />
  Info: <%= @event.description %> <br />
</div>

<p>
  Attendes: <% @event.attendees.each do |a| %>
    <%= a.first_name %>
  <% end %>
</p>
